* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #3c40c6;
  background-image: url("./assets/stars.svg");
  font-family: "Barlow";
}
#root {
  display: flex;
}
